// 🚀 Test styles in an isolated file...
// @use './themes/colors/openprop-colors' as *;
// @use './utilities/_mixins.scss' as *;
// @use './themes/colors/serato-colors' as *;
// @use './themes/colors/famous-colors' as *;
@use './utilities/global-variables' as *;
// @use './themes/colors/color-variables' as *;
@use './utilities/media-queries' as *;

// * Grids
@use 'sass:math';
$total-columns: 12; // per grid row!

@for $i from 1 through $total-columns {
  :where(.grid-column-#{$i}) {
    flex: 0 0 math.div(100%, $total-columns) * $i;
  }
}

// if we're at a breakpoint, generate respective grid column!
@each $breakpoint, $value in $breakpoints-map {
  @include breakpoint(#{$value}) {
    @for $i from 1 through $total-columns {
      .grid-column-#{$i}-on-#{$breakpoint} {
        width: math.div(100%, math.div($total-columns, $i));
        padding: $default-padding;
      }
    }
  }
}
