# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/sass,web
# Edit at https://www.toptal.com/developers/gitignore?templates=sass,web

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Web ###
*.asp
*.cer
*.csr
*.css
*.htm
*.html
*.js
*.jsp
*.php
*.rss
*.wasm
*.wat
*.xhtml

# End of https://www.toptal.com/developers/gitignore/api/sass,web

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

/node_modules
/forks
/live-sass-dist