@use '../../utilities/global-variables' as *;
@use 'color-variables' as *;
@use 'openprop-colors' as *;
@use './_serato-colors' as *;
@use './famous-colors' as *;
@use 'gradients' as *;
@use '../../utilities/mixins' as *;

/*
* Generate color classes & respective hoverable classes
*/

// Inherit parent color
:where(.color-parent) {
  color: $color-parent;
}
:where(.bg-parent) {
  background-color: $color-parent;
}

// respect current color
:where(.color-current) {
  color: $color-current;
}
:where(.bg-current) {
  background-color: $color-current;
}
// transparent color
:where(.color-transparent) {
  color: $color-transparent;
}
:where(.bg-transparent) {
  background-color: $color-transparent;
}

// basic flagging colors eg. success, info, danger etc
@each $name, $color in $theme-colors {
  :where(.color-#{$name}) {
    color: $color;
  }
  :where(.bg-#{$name}) {
    background: $color;
  }

  // magic mixin to make hover state variants!
  @each $hover-name, $hover-color in $theme-colors-hover {
    @include make-hoverable-generic($hover-name, $color, $hover-color);
  }
  // another magic to make glass-morphic variants
  @include make-blur($name, $color);
}

// generate nuetral color classes eg. color-white
// don't wrap these in where() selector!!!
.color-white {
  color: $white;
}

.bg-white {
  background: $white;
}

.color-black {
  color: $black;
}

.bg-black {
  background: $black;
}

/* Generate amazing color classes for all open prop colors! */
@each $colorName, $color in $openprop-colors {
  $total-shades-per-color: 9;

  :where(.color-#{$colorName}) {
    color: $color;
  }
  :where(.bg-#{$colorName}) {
    background: $color;
  }

  // magic mixin to make hover state variants!
  @each $hover-name, $hover-color in $openprop-colors-hover {
    // Make a hover shades for the generic colors eg. color-blue's hover
    @if ($colorName == $hover-name) {
      @include make-hoverable-generic($hover-name, $color, $hover-color);
    }

    // another magic to make glass-morphic variants
    @include make-blur($colorName, $color);
  }
  // Generate color shades eg. grape-1, gray-0, etc
  @for $i from 0 through $total-shades-per-color {
    @include make-hoverable($colorName, $i);
  }
}

// * don't wrap these in where() selector!!!
// generate other serato colors eg. _color-hibiscus
@each $name, $color in $serato-colors {
  ._color-#{$name} {
    color: $color;
  }
  ._bg-#{$name} {
    background: $color;
  }
  @include make-hoverable-native($name, $color);
}

// generate serato brands colors eg. _color-twitter-blue
@each $name, $color in $famous-brand-colors {
  ._color-#{$name} {
    color: $color;
  }
  ._bg-#{$name} {
    background: $color;
  }
  @include make-hoverable-native($name, $color);
}

// ~~~~~~~~ serato theming classes ~~~~~~~~ //

// TODO: make a common design for all components eg. default-design (border-radius, bg, color, padding, border etc)
