// All mixins go here!
@use './global-variables' as *;
@use '../themes/colors/color-variables' as *;
@use './functions' as *;
// @use '../themes/colors/colors.scss' as *;

// centering mixins
@mixin center-with-margin {
  margin: 0px auto;
}

.center-with-margin {
  @include center-with-margin;
}

@mixin center-with-grid {
  display: grid;
  place-items: center;
}
.center-with-grid {
  @include center-with-grid;
}

@mixin center-with-flex {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.center-with-flex {
  @include center-with-flex;
}

// overlay mixin
@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}
.is-overlay {
  @include overlay;
}

// scroll mixin
@mixin scroll {
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;

  /**
 * Customized scrollbar // get a better one!
 */

  &::-webkit-scrollbar {
    width: 12px;
    height: 6px;
    background-color: #eff1f5; // scrollbar track color
  }

  &::-webkit-scrollbar-track {
    border-radius: $serato-border-radius;
    background-color: $transparent-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $serato-border-radius;
    height: 6px;
    background-color: #9ca3af; // scrollbar hover color
    border: 2px solid #eff1f5; // scrollbar track color

    &:hover {
      background-color: #bbc5d4; // scrollbar hover color
    }
  }
}

// selection disabled mixin
@mixin selection-disabled {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// ultimate gradient generating mixin
@mixin gradient-generator($gradient-name, $first-color, $second-color) {
  // basic linear gradient
  .#{$gradient-name}-gradient-on-background {
    background: linear-gradient(to right, $first-color, $second-color);
    // linear gradient with directions
    @each $direction in $serato-directions {
      &-to-#{$direction} {
        background: linear-gradient(
          to #{$direction},
          $first-color,
          $second-color
        );
      }
    }
    // radial-gradient
    &-radial {
      background: radial-gradient(
        ellipse at center,
        $first-color 0%,
        $second-color 100%
      );
    }
  }
  // basic linear text gradient
  .#{$gradient-name}-gradient-on-text {
    background: linear-gradient(to right, $first-color, $second-color);
    background-clip: text;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // text radial-gradient
    &-radial {
      background: radial-gradient(
        ellipse at center,
        $first-color 0%,
        $second-color 100%
      );
      user-select: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// border gradient mixin
@mixin border-gradient($alignment, $breadth: 2px, $gradient) {
  border-#{$alignment}: $breadth solid;
  border-image: $gradient 3;
}

// text gradient mixin
@mixin text-gradient($grad) {
  background: $grad;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// glass-morphism generating mixin eg. background-gray-500--glass
@mixin make-blur($name, $blur-color) {
  :where(.bg-#{$name}--glass) {
    background: rgba($blur-color, 0.2);
    backdrop-filter: blur(40px);
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  :where(.bg-#{$name}--glass--hoverable) {
    background: rgba($blur-color, 0.2);
    backdrop-filter: blur(40px);
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: $transition-smooth;

    &:hover {
      background: rgba($blur-color, 0.35);
    }
  }
  // glass effect for text eg. color-black--hoverable
  :where(.color-#{$name}--glass) {
    color: transparent;
    user-select: none;
    background-clip: text;
    backdrop-filter: blur(40px);
    background: rgba($blur-color, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :where(.color-#{$name}--glass--hoverable) {
    color: transparent;
    user-select: none;
    background-clip: text;
    backdrop-filter: blur(40px);
    background: rgba($blur-color, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: $transition-smooth;

    &:hover {
      color: transparent;
      user-select: none;
      background-clip: text;
      backdrop-filter: blur(40px);
      background: rgba($blur-color, 0.35);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// text shimmer effect //
@mixin text-shimmer($text-bg, $text-color) {
  padding: 0 140px 0 0;
  color: rgba($text-color, 0.801);
  background-color: $text-bg;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($text-bg),
    to($text-bg),
    color-stop(0.5, $text-color)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from($text-bg),
    to($text-bg),
    color-stop(0.5, $text-color)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from($text-bg),
    to($text-bg),
    color-stop(0.5, $text-color)
  );
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: text-shimmer;
  -moz-animation-name: text-shimmer;
  animation-name: text-shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;

  @-moz-keyframes text-shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes text-shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes text-shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes text-shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
}

// space-on-hover mixin
@mixin space-on-hover {
  width: $width-content;
  will-change: auto;

  &:hover {
    transition: margin 0.35s ease;
    margin-bottom: 1rem;
  }
}

/* A mega hover state color & background color generator mixin for the in house / serato colors */
@mixin make-hoverable-native($name, $hoverable-color) {
  // add color to element on-hover eg. color-gray-400-on-hover
  ._color-#{$name}-on-hover:hover {
    transition: $serato-transition;
    color: $hoverable-color;
  }
  // add background color to element on-hover eg. background-gray-400-on-hover
  ._bg-#{$name}-on-hover:hover {
    transition: $serato-transition;
    background-color: $hoverable-color;
  }

  // make a color hoverable when asigned a hoverable modifier eg. color-green--hoverable
  ._color-#{$name}--hoverable {
    color: $hoverable-color;
    transition: $serato-transition;

    &:hover {
      color: color-modifier($hoverable-color);
    }
  }
  // make a background color hoverable when asigned a hoverable modifier eg. background-green--hoverable
  ._bg-#{$name}--hoverable {
    background-color: $hoverable-color;
    transition: $serato-transition;

    &:hover {
      background-color: color-modifier($hoverable-color);
    }
  }
}

/* A mega hover state color & background color generator mixin for the open prop generic colors eg. grape, violet, blue etc */
@mixin make-hoverable-generic($name, $base-color, $hoverable-color) {
  // add color to element on-hover eg. color-gray-400-on-hover
  :where(.color-#{$name}-on-hover):hover {
    transition: $serato-transition;
    color: $hoverable-color;
  }
  // add background color to element on-hover eg. background-gray-400-on-hover
  :where(.bg-#{$name}-on-hover):hover {
    transition: $serato-transition;
    background-color: $hoverable-color;
  }

  // make a color hoverable when asigned a hoverable modifier eg. color-green--hoverable
  :where(.color-#{$name}--hoverable) {
    color: $base-color;
    transition: $serato-transition;

    &:hover {
      color: $hoverable-color;
    }
  }
  // make a background color hoverable when asigned a hoverable modifier eg. background-green--hoverable
  :where(.bg-#{$name}--hoverable) {
    background-color: $base-color;
    transition: $serato-transition;

    &:hover {
      background-color: $hoverable-color;
    }
  }
}

/* A mega hover state color & background generator mixin modded for custom props*/
@mixin make-hoverable($name, $base-shade) {
  // make basic helpers for each shade eg. color-grape-1, bg.grape-1 etc
  :where(.color-#{$name}-#{$base-shade}) {
    color: var(--#{$name}-#{$base-shade}); // eg. var(--grape-1)
  }
  :where(.bg-#{$name}-#{$base-shade}) {
    background-color: var(--#{$name}-#{$base-shade}); // eg. var(--grape-1)
  }

  // add color to element on-hover eg. color-gray-4-on-hover
  :where(.color-#{$name}-#{$base-shade}-on-hover):hover {
    transition: $serato-transition;
    color: make-hover-shade($name, $base-shade);
  }

  // add background color to element on-hover eg. bg-gray-4-on-hover
  :where(.bg-#{$name}-#{$base-shade}-on-hover):hover {
    transition: $serato-transition;
    background-color: make-hover-shade($name, $base-shade);
  }

  // make a color hoverable when asigned a hoverable modifier eg. color-green--hoverable
  :where(.color-#{$name}-#{$base-shade}--hoverable) {
    transition: $serato-transition;
    color: var(--#{$name}-#{$base-shade}); // eg. var(--gray-5);

    &:hover {
      color: make-hover-shade($name, $base-shade); // eg. var(--gray-4);
    }
  }

  // make a background color hoverable when asigned a hoverable modifier eg. bg-green--hoverable
  :where(.bg-#{$name}-#{$base-shade}--hoverable) {
    transition: $serato-transition;
    background-color: var(--#{$name}-#{$base-shade}); // eg. var(--gray-5);

    &:hover {
      background-color: make-hover-shade(
        $name,
        $base-shade
      ); // eg. var(--gray-4);
    }
  }
}
