@use '../utilities/global-variables' as *;
@use '../themes/colors/color-variables' as *;
@use '../themes/colors/colors.scss' as *;
@use '../animations/animations.scss' as *;

:where(.button) {
  display: inline-block;
  padding: $elements-padding;
  font-weight: $default-fontWeight;
  font-size: $default-fontSize;
  border-radius: $default-borderRadius;
  text-transform: capitalize;
  box-shadow: $shadow-1;
  color: var(--text-1);
  background-color: var(--surface-3);
  transition: $default-transition;

  &:hover {
    background-color: var(--surface-4);
  }

  @if $enable-native-animations {
    @include animation-clickin;
  }
}

@each $name, $color in $theme-colors {
  :where(.button-#{$name}) {
    display: inline-block;
    padding: $elements-padding;
    font-weight: $default-fontWeight;
    font-size: $default-fontSize;
    border-radius: $default-borderRadius;
    text-transform: capitalize;
    box-shadow: $shadow-1;

    transition: $default-transition;
    background-color: $color;
    color: var(--gray-0);

    @if $enable-native-animations {
      @include animation-clickin;
    }

    @each $hover-name, $hover-color in $theme-colors-hover {
      @if ($name == $hover-name) {
        &:hover {
          color: var(--gray-1);
          background-color: $hover-color;
        }
      }
    }
  }
}

// fix dark button for responsive light or dark mode theme
.button-light {
  color: var(--text-1);
  background-color: var(--surface-3);

  &:hover {
    background-color: var(--surface-4);
  }
}
.button-dark {
  color: var(--text1-dark);
  background-color: var(--surface1-dark);

  &:hover {
    background-color: var(--surface3-dark);
  }
}

// for icons acting as buttons
:where(.button-icon) {
  display: grid;
  place-items: center;
  width: $width-content;
  height: $height-content;
  border-radius: $radius-round;
  color: $color-current;
  font-size: inherit; // inherit size
  font-size: $font-size-2; // prefered size
  box-shadow: $shadow-1;

  @if $enable-native-animations {
    @include animation-clickin;
  }
}
