/*
* Beta Hacks, Tweaks & Experiments ( these are proposed for the next version and still in beta and can change over next realease or they're here forever!)
*/

/**
 * Customized scrollbar
//  Todo: Use sass hsl functions to change any given brand color to hsl and get it's hue value then use that in scrollbar;
Users can then alter the hue-color variable in their project styles to their prefered brand color's hue value and this will change the looks else where including the scrollbar!
 */

/* Change favorite color */
:where(html) {
  /* HSL color mode */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  --selection-highlight-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 65%);
}

/*========== Scrollbar Variables For Dark theme ==========*/
@media (prefers-color-scheme: dark) {
  :where(html) {
    --selection-highlight-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  }
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

/**
 * customized on page text selection colors
 */
::selection {
  background-color: var(--selection-highlight-color);
}

/**
 * Always hide an element with the `hidden` HTML attribute (adapted from PureCSS).
 */

[hidden] {
  display: none !important;
}
