/*
* Beta Hacks & Experiments ( these are proposed for the next version and still in beta and can change over next realease!)
*/

@use '../utilities/global-variables' as *;
@use '../themes/colors/color-variables' as *;
@use '../themes/colors/gray-shades' as *;

/**
 * Hack from Kevin Powell to automatically add top spacing to all children of any parent, cause usually nobody ever wants them attached
 */

* + * {
  margin-top: $size-5;
}

// fixing the hack glitch, we don't want top space on a direct child
* > * {
  margin-top: 0;
}

/**
 * Always hide an element with the `hidden` HTML attribute (from PureCSS).
 */

[hidden] {
  display: none !important;
}

/**
 * Natural flow and rythm in articles by default
 */

article > * + * {
  margin-top: $size-5;
}

// or ideally
// article {
//   h1 + p {
//     margin-top: 1rem;
//   }
// }

/**
* Hide the horizontal overflow on body by default
 body {
   overflow-x: hidden;
 }
*/

// Warning: Make this one a class instead, setting it globally will ruin all child elements sticky position!

/**
 * Customized scrollbar // get a better one!
 */

html::-webkit-scrollbar {
  width: 12px;
  height: 6px;
  background-color: #eff1f5; // scrollbar track color
}

html::-webkit-scrollbar-track {
  border-radius: $serato-border-radius;
  background-color: $transparent-color;
}

html::-webkit-scrollbar-thumb {
  border-radius: $serato-border-radius;
  height: 6px;
  background-color: #9ca3af; // scrollbar hover color
  border: 2px solid #eff1f5; // scrollbar track color

  &:hover {
    background-color: #bbc5d4; // scrollbar hover color
  }
}

/**
 * customized on page text selection colors
 */

::selection {
  background-color: $gray-500;
}
