@use '../utilities/global-variables' as *;

$position-values: (static, relative, sticky, absolute, fixed);
$position-directions: (top, right, bottom, left);
$zindex-fixed: $layer-5;

// positioning types / contexts
@each $position-value in $position-values {
  .position-#{$position-value} {
    position: $position-value;
  }
}

// postions eg. top-00 to top-15
@each $position in $position-directions {
  @each $name, $size in $size-numbers {
    :where(.#{$position}-#{$name}) {
      #{$position}: $size;
    }
  }
}

// no position or none
@each $position in $position-directions {
  :where(.#{$position}-none) {
    #{$position}: none;
  }
}

// position auto
@each $position in $position-directions {
  :where(.#{$position}-auto) {
    #{$position}: auto;
  }
}

// postion percents eg. top: 50%;
@each $position in $position-directions {
  @each $name, $percentage in $percentages {
    :where(.#{$position}-#{$name}-percent) {
      #{$position}: $percentage;
    }

    // negative percents
    :where(.-#{$position}-#{$name}-percent) {
      #{$position}: -#{$percentage};
    }
  }
}

// combo helpers
.fixed-to-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.fixed-to-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}
