@use '../utilities/global-variables' as *;

// generate spacing helpers eg margins & paddings
.margin-none {
  margin: 0;
}
.padding-none {
  padding: 0;
}

@each $spacing in $spacings {
  @each $name, $value in $spacing-values {
    // All directions
    :where(.#{$spacing}-#{$name}) {
      #{$spacing}: $value;
    }

    // Cardinal directions
    @each $direction-name, $direction-value in $spacing-directions {
      :where(.#{$spacing}-#{$direction-name}-#{$name}) {
        #{$spacing}-#{$direction-value}: $value;
      }
    }
    // Horizontal axis
    @if ($spacing-horizontal != null) {
      :where(.#{$spacing}-#{$spacing-horizontal}-#{$name}) {
        #{$spacing}-#{$spacing-horizontal}: $value;
      }
    }
    // Vertical axis
    @if ($spacing-vertical != null) {
      :where(.#{$spacing}-#{$spacing-vertical}-#{$name}) {
        #{$spacing}-#{$spacing-vertical}: $value;
      }
    }
  }
}

// generate spacing helpers eg margins & paddings for fluid spacing!
@each $spacing in $spacings {
  @each $fluid-spacing, $value in $fluid-spacings {
    // All directions
    :where(.#{$spacing}-#{$fluid-spacing}) {
      #{$spacing}: $value;
    }
    // Cardinal directions
    @each $direction-name, $direction-value in $spacing-directions {
      :where(.#{$spacing}-#{$direction-name}--#{$fluid-spacing}) {
        #{$spacing}-#{$direction-value}: $value;
      }
    }
    // Horizontal axis
    @if ($spacing-horizontal != null) {
      :where(.#{$spacing}-#{$spacing-horizontal}--#{$fluid-spacing}) {
        #{$spacing}-#{$spacing-horizontal}: $value;
      }
    }
    // Vertical axis
    @if ($spacing-vertical != null) {
      :where(.#{$spacing}-#{$spacing-vertical}--#{$fluid-spacing}) {
        #{$spacing}-#{$spacing-vertical}: $value;
      }
    }
  }
}

// * page flow helpers

// flow bottom
:where(.flow-auto > :not(:last-child)) {
  margin-block-end: $fluid-size-1;
}
:where(.flow-all > *) {
  margin-block-end: $fluid-size-1;
}
